---
const personalImageAlt = "Luis Hernandez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Luis Miguel Hernández, aunque muchos me conocen como Luis Mi.
      Actualmente trabajo en Homcenter Sodimac Colombia como asesor de ventas,
      lo que me ha permitido desarrollar habilidades clave en atención al
      cliente y gestión comercial. Además, soy estudiante de <strong
        >Ingeniería de Software</strong
      > en la <strong>Institucion Universitaria Pascual Bravo</strong> de Medellin
      Colombia, un campo que me apasiona profundamente.
    </p>

    <p>
      Desde que comencé a estudiar programación, he sentido un gran interés por
      la tecnología y el desarrollo de software. Estoy constantemente buscando
      mejorar mis habilidades y mantenerme al día con las últimas tendencias. <strong
      >
        Mi objetivo es crecer tanto personal como profesionalmente en el mundo
        del software,</strong
      > contribuyendo con soluciones innovadoras que puedan mejorar la vida de las
      personas.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="public/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black-800 ring-1 ring-gray/80"
    style="object-position: 50% 50%"
  />
</article>
