---
import ExperienceItem from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Feb 2024 - Dic 2024",
    title: "Vendedor Profesional",
    company: "HomeCenter Sodimac Colombia",
    description:
      "Asesor de ventas en Homecenter Sodimac Colombia, especializado en muebles. Ayudo a los clientes a elegir el mobiliario ideal para sus hogares, brindando asesoría en diseño, funcionalidad y presupuesto. Me encargo de ofrecer una atención personalizada, mantenerme al día con las tendencias y promociones, y asegurar que el proceso de compra sea satisfactorio, desde la selección del producto hasta la entrega.",
  },
  {
    date: "Jul 2021 — Jul 2022",
    title: "Secretario de Despacho",
    company: "Transporte San Pedro Ltda",
    description:
      "Encargado de coordinar y optimizar la programación de rutas de transporte y asegurando eficiencia y cumplimiento. Brindo atención y soporte a clientes y conductores, garantizando una comunicación fluida y efectiva. Me especializo en la coordinación con los conductores para mejorar los tiempos de entrega y optimizar recursos, asegurando un servicio confiable y de calidad.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
