---
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition text-white bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:bg-white/90 group max-w-fit rounded-xl hover:text-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-black focus-visible:ring-offset-2 active:bg-white"
>
  <slot />
</a>
